<div>
    <h1 *ngIf="data.type == 'add'" mat-dialog-title>Add Student</h1>
    <h1 *ngIf="data.type == 'edit'" mat-dialog-title>Edit Student</h1>
    <form [formGroup]="studentForm" (ngSubmit)="onConfirm()">
        <div style="flex: 1 1 auto;" class="p-4">
            <mat-form-field class="full-field-width">
                <mat-label>Student Firstname</mat-label>
                <input type="text"
                        matInput 
                        #input 
                        placeholder="Student Firstname" 
                        aria-label="firstname"
                        formControlName="firstname" />
                <mat-error *ngIf="studentForm.controls['firstname'].hasError('required')">
                    Student firstname is required.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-field-width">
                <mat-label>Student Lastname</mat-label>
                <input type="text"
                        matInput 
                        #input 
                        placeholder="Student Lastname" 
                        aria-label="lastname"
                        formControlName="lastname" />
                <mat-error *ngIf="studentForm.controls['lastname'].hasError('required')">
                    Student lastname is required.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-field-width">
                <mat-label>Student Grade</mat-label>
                <mat-select formControlName="grade" placeholder="Select Grade">
                    <mat-option *ngFor="let grade of grades" [value]="grade">{{ grade.grade_name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="studentForm.controls['grade'].hasError('required')">
                    Student grade is required.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-field-width">
                <mat-label>Student Group</mat-label>
                <mat-select formControlName="student_group" placeholder="Select Group">
                    <mat-option *ngFor="let group of groups" [value]="group">{{ group.group_name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="studentForm.controls['student_group'].hasError('required')">
                    Student group is required.
                </mat-error>
            </mat-form-field>
        </div>
        <div mat-dialog-actions style="position: absolute; bottom: 0; width: 100%;">
            <button mat-button (click)="onCancel()">Cancel</button>
            <button mat-button type="submit">Confirm</button>
        </div>
    </form> 
</div>