<div>
    <h1 mat-dialog-title>Reset Password</h1>
    <form [formGroup]="passwordForm" (ngSubmit)="onConfirm()">
        <div style="flex: 1 1 auto;" class="p-4">
            <mat-form-field class="full-field-width">
                <mat-label>Username</mat-label>
                <input type="text"
                        matInput 
                        placeholder="Enter your username" 
                        aria-label="username"
                        formControlName="username" />
                <div
                    *ngIf="passwordForm.controls['username'].invalid && (passwordForm.controls['username'].dirty || passwordForm.controls['username'].touched)">
                    <div *ngIf="passwordForm.controls['username'].errors?.['required']" class="bold-red-text">Username is required.</div>
                </div>
            </mat-form-field>
            
            <mat-form-field class="full-field-width">
                <mat-label>Email</mat-label>
                <input type="text"
                        matInput 
                        placeholder="Enter your email" 
                        aria-label="email"
                        formControlName="email" />
                <div
                    *ngIf="passwordForm.controls['email'].invalid && (passwordForm.controls['email'].dirty || passwordForm.controls['email'].touched)">
                    <div *ngIf="passwordForm.controls['email'].errors?.['required']" class="bold-red-text">Email is required.</div>
                </div>
            </mat-form-field>
        </div>
        <div mat-dialog-actions style="position: absolute; bottom: 0; width: 100%;">
            <button mat-button (click)="onCancel()">Cancel</button>
            <button mat-button (click)="onConfirm()" type="submit">Confirm</button>
        </div>
    </form> 
</div>