<div>
  <h1 mat-dialog-title>Sign Up</h1>
  <form [formGroup]="signupForm" (ngSubmit)="onConfirm()">
    <mat-dialog-content>
      <p>Sign up with a new account.</p>
    </mat-dialog-content>
    <mat-dialog-content>
      <mat-form-field class="full-field-width">
        <mat-label>Firstname</mat-label>
        <input type="text"
               matInput 
               placeholder="Enter your firstname" 
               aria-label="firstname"
               formControlName="firstname" />
        <mat-error *ngIf="signupForm.controls['firstname'].hasError('required')">
          Firstname is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-field-width">
        <mat-label>Lastname</mat-label>
        <input type="text"
               matInput 
               placeholder="Enter your lastname" 
               aria-label="lastname"
               formControlName="lastname" />
        <mat-error *ngIf="signupForm.controls['lastname'].hasError('required')">
          Lastname is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-field-width">
        <mat-label>Username</mat-label>
        <input type="text"
               matInput 
               placeholder="Enter your username" 
               aria-label="username"
               formControlName="username" />
        <mat-error *ngIf="signupForm.controls['username'].hasError('required')">
          Username is required.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="full-field-width">
        <mat-label>Email</mat-label>
        <input type="email"
               matInput 
               placeholder="Enter your email" 
               aria-label="email"
               formControlName="email" />
        <mat-error *ngIf="signupForm.controls['email'].hasError('required')">
          Email is required.
        </mat-error>
        <mat-error *ngIf="signupForm.controls['email'].hasError('email')">
          Email format invalid.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-field-width">
        <mat-label>Password</mat-label>
        <input type="password"
               matInput 
               placeholder="Enter your password" 
               aria-label="password"
               formControlName="password" />
        <mat-error *ngIf="signupForm.controls['confirmPassword'].hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="signupForm.controls['confirmPassword'].hasError('minlength')">
          Password must be at least 8 characters long and shorter then 30.
        </mat-error>
        <mat-error *ngIf="signupForm.controls['confirmPassword'].hasError('pattern')">
          Password must contain at least one uppercase letter, one lowercase letter, one number, and one of these symbols [!&#64;#$%^&*].
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-field-width">
        <mat-label>Confirm Password</mat-label>
        <input type="password"
               matInput 
               placeholder="Confirm your password" 
               aria-label="confirmPassword"
               formControlName="confirmPassword" />
        <mat-error *ngIf="signupForm.controls['confirmPassword'].hasError('required')">
          Confirm Password is required.
        </mat-error>
        <mat-error *ngIf="confirmPasswordValid">
          Confirm Password must match Password.
        </mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions class="dialog-actions">
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-button type="submit">Sign Up</button>
    </mat-dialog-actions>
  </form>
</div>
