<mat-tab-group>
    <mat-tab *ngIf='showRunningTotals' label="Running Totals">
        <app-running-totals></app-running-totals>
    </mat-tab>
    <mat-tab *ngIf='showStudents' label="Students">
        <app-students></app-students>
    </mat-tab>
    <mat-tab *ngIf='showPointsEarned' label="Points Earned">
        <h1>Screen to add Student points earned for an event</h1>
    </mat-tab>
    <mat-tab *ngIf='showPointsSpent' label="Points Spent">
        <h1>Screen to add Student Points spent for an event</h1>
    </mat-tab>
</mat-tab-group>