<mat-tab-group>
    <mat-tab *ngIf='showRunningTotals' label="Running Totals">
        <app-running-totals></app-running-totals>
    </mat-tab>
    <mat-tab *ngIf='showStudents' label="Students">
        <app-students></app-students>
    </mat-tab>
    <mat-tab *ngIf='showPointsEarned' label="Points Earned">
        <app-points-earned-home></app-points-earned-home>
    </mat-tab>
    <mat-tab *ngIf='showPointsSpent' label="Points Spent">
        <app-points-spent-home></app-points-spent-home>
    </mat-tab>
</mat-tab-group>